<form [formGroup]="userForm" (ngSubmit)="onFormSubmit(userForm.value)">
    <p-panel header="Nuevo Usuario">
        <input-molecule [parentForm]="userForm" id="username" label="Usuario"></input-molecule>
        <input-molecule [parentForm]="userForm" id="fullName" label="Nombre completo"></input-molecule>
        <input-molecule [parentForm]="userForm" id="password" label="Contraseña"></input-molecule>
        <p-footer>
            <button pButton [disabled]="!userForm.valid" type="submit" icon="pi pi-plus" label="Guardar" class="ui-button-info"></button>
        </p-footer>
    </p-panel>
</form>