<h2 class="section-head">Brugroup</h2>
    <div class="section-content">

        <p>Brugroup es una supuesta gestión de usuarios utilizando diferentes protocolos de comunicación y persistiendo los datos en una Bases de Datos, además, de tener una aplicación web.</p>
        <p>Destacar que los diferentes proyectos se han divididos en tres repositorios, según las tecnologías empleadas:</p>
        <ul>
            <li>Brugroup-back-spring</li>
            <li>Brugroup-back-node</li>
            <li>Brugroup-front</li>
        </ul>
   


        <div class="space"></div>

        <h3 id="sec17-2" class="section-title">ARQUITECTURA</h3>
        <div class="section-content">
            <p>El ejemplo de la aplicación que se ha desarrollado es una simulación de una arquitectura orientada a microservicios. La idea es dividir la aplicación en partes funcionales, sin embargo, hay que destacar que es una aplicación demo.
            </p>

            <img src="https://drive.google.com/uc?export=view&id=10jEYNoFteJhcaDJL8iI4y_f84o49TAk6">
            <p>A continuación, se detallan los diferentes servidores que forman la aplicación:
            </p>
        </div>

        <div class="space"></div>		

        <h3 id="sec17-2" class="section-title">Bases de Datos HyperSQL</h3>
        <p>Para ofrecer persistencia a la aplicación se ha utilizado el Sistema Gestos de Bases de Datos (HSQLDB).</p>
        <div class="space"></div>

        <h3 id="sec17-2" class="section-title">Servidor Eureka</h3>
        <p>Eureka es un servicio REST cuyo objetivo principal es registrar y localizar microservicios existentes, informar de su localización, su estado y datos relevantes de cada uno de ellos. Además, nos facilita el balanceo de carga y tolerancia a fallos.</p>

        En la dirección [http://localhost:8761] se puede acceder al cliente web del servidor para observar los diferentes servicios desplegados y el estado de cada uno de ellos
        <div class="space"></div>

        <h3 id="sec17-2" class="section-title">Servidor SOAP</h3>
        <p>Este servidor despliega unos Web Service para poder ejecutar llamadas a procecimiento remoto (RPC). Estas llamadas permiten realizar un CRUD directamente con acceso a la Bases de Datos y atacar a la entidad de Usuario.</p>

        <p>Por otra parte, este servidor genera dinámicamente un fichero WSDL [http://localhost:8080/ws/users.wsdl] que se encuentra protegido con usuario "userws" y contraseña "passW1ord". A partir de este fichero WSDL se podrá generar de forma sencilla un cliente, por ejemplo, utilizando SOAP UI.</p>
        <div class="space"></div>

        <h3 id="sec17-2" class="section-title">Servidor REST</h3>
        <p>Este servidor despliega una API REST que permite realizar un CRUD directamente con acceso a la Bases de Datos y atacar a la entidad de Usuario. Además, todos los servicios estarán duplicados, unos atacan directamente a la BD y otros al servidor SOAP.</p>

        <p>Por otra parte, este protocolo al no generar ningún sistema de información de forma automático para poder saber cómo atarlo, se ha añadido la configuración de Swagger con toda la documentación necesaria para atarcale. La web de swagger se despliega en [http://localhost:9090/swagger-ui.html]</p>
        <div class="space"></div>

        <h3 id="sec17-2" class="section-title">Servidor GraphQL</h3>
        <p>Graphql es un lenguaje de consulta que se plantea como alterativa a REST para comunicarse un cliente con servidor. La ventaja es que nos permite recuperar una respuesta predecible.</p>

        <p>Este servidor despliga una aplicación Graphql y un cliente GraphiQL [http://localhost:3000/api] para entornos de desarrollo donde poder lanzar las diferentes consultas.</p>



    </div>
							